.head {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

.headInfo {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headInfoTitle {
	color: var(--primary-font-color);
	font-style: normal;
	font-weight: 900;
	font-size: 75px;
	line-height: 91px;
}

.headInfoSubtitle {
	color: var(--secondary-font-color);
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}

.team {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	background: var(--fg-color);
	border-radius: var(--border-radius);
	padding: 20px;
	min-width: 260px;
}

.teamIcon {
	svg {
		fill: var(--action-color);
		margin-right: 8px;
		width: 80px;
	}
}

.teamCol {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 200px;
}

.teamGameStatus {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: var(--action-color);
	margin-bottom: 3px;
}

.teamScore {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: var(--primary-font-color);
	margin-bottom: 6px;
}

.teamName {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: var(--secondary-font-color);
}