$tooltipWidth: 200px;
$tooltipHeight: 130px;
$tooltipButtonHeight: 35px;

.tooltip {
	display: block;
	position: relative;
}

.tooltipInfo {
	display: none;
	width: $tooltipWidth;
	height: $tooltipHeight;
	background-color: var(--tooltip-bg-color);
	text-align: center;
	border-radius: var(--border-radius);
	z-index: 1;
}

.tooltipWithoutButton {
	height: $tooltipHeight - $tooltipButtonHeight;

	button {
		display: none;
	}
}

.tooltipInfoShow {
	display: block;
	position: fixed;
	overflow: hidden;
}

.tooltipContent {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	padding: 15px;
	gap: 5px;

	span {
		align-items: flex-start;
		font-size: 15px;
		text-align: left;
		color: var(--tooltip-font-color);
	}

	button {
		width: 100%;
		height: $tooltipButtonHeight;
		border: none;
		text-align: center;
		font-size: 14px;
		padding: 5px;
		color: var(--tooltip-font-color);
		background-color: var(--tooltip-button-color);
		border-radius: var(--border-radius);

		&:hover {
			background-color: var(--tooltip-button-hover-color);
		}

		&:active {
			background-color: var(--tooltip-button-click-color);
		}
	}
}