@use "mixins/select-text";
@import "fonts/inter-font";

:root {
	--bg-color: linear-gradient(113.35deg, #263987 0%, #3F5787 45.44%, #3C4E87 100.71%);;
	--fg-color: rgba(255, 255, 255, 0.12);
	--button-color: rgba(255, 255, 255, 0.05);
	--button-hover-color: rgba(255, 255, 255, 0.12);
	--scoreboard-line-color: rgba(255, 255, 255, 0.05);
	--scoreboard-active-line-color: rgba(255, 255, 255, 0.12);
	--scoreboard-hover-line-color: rgba(255, 255, 255, 0.08);
	--primary-font-color: #FFF;
	--secondary-font-color: #C9CFEE;
	--tooltip-bg-color: rgba(255, 255, 255, 0.95);
	--tooltip-font-color: #171717;
	--tooltip-button-color: #75d8ff;
	--tooltip-button-hover-color: #8fdcff;
	--tooltip-button-click-color: #60d3ff;
	--action-color: #CAECFF;
	--border-radius: 10px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--primary-font-color);
	background: var(--bg-color);

	@include select-text.disable-select-text;
}