@import "fonts/inter-font";

:root {
	--bg-color: #3F5587;
	--fg-color: rgba(255, 255, 255, 0.12);
	--button-color: rgba(255, 255, 255, 0.05);
	--button-hover-color: rgba(255, 255, 255, 0.12);
	--scoreboard-line-color: rgba(255, 255, 255, 0.05);
	--scoreboard-active-line-color: rgba(255, 255, 255, 0.12);
	--scoreboard-hover-line-color: rgba(255, 255, 255, 0.08);
	--primary-font-color: #FFF;
	--secondary-font-color: #C9CFEE;
	--action-color: #CAECFF;
	--border-radius: 10px;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--primary-font-color);
	background: var(--bg-color);
}